/*******************************************************************************
************************** GLOBAL STYLES AND IMPORTS **************************/

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58i-wi40.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}  

* {
  cursor: default;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 3.2vw;
  box-sizing: border-box;
}
body {
  width: 100vw;
  background-color: white;
  padding-top: 1em;
}
hr {
  margin-top: 1em;
  visibility: hidden;
}
.right-align {
  text-align: right;
}

.out-of-flow {
    display: none;
}


/*******************************************************************************
****************************** MODAL DIALOG ASPECT ****************************/

dialog {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  width: 90%;
  position relative;
}
dialog fieldset {
  padding: 1em;
}
dialog legend {
  margin-left: 1em;
  margin-bottom: 1em;
}
dialog p {
  padding: 0.5em;
}
dialog button[value=cancel] {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border-width: 0;
}


/*******************************************************************************
************************** MODAL USER ID BUTTON SWITCH ************************/

dialog.ask-user-identification.not-confirm .confirm {
    display: none;
}
dialog.ask-user-identification.confirm .not-confirm {
    display: none;
}

/*******************************************************************************
*********************************** BUTTONS ***********************************/

button, input[type=button] {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  cursor: pointer;
}


/*******************************************************************************
********************* HEADER POSITIONING AND HEADER ASPECT ********************/

section {
  width: 100%;
  position: relative;
  padding: 1em;
  box-sizing: border-box;
}


/*******************************************************************************
**************************** CALENDAR DISPLAY ZONE ****************************/

nav {
  text-align: center;
}

nav table, nav tr, nav th, nav td {
  border-width: 0;
}

nav th {
  border-bottom-width: 1px!important;
  border-bottom-style: solid;
  border-bottom-color: #999;
}
nav table {
  border-spacing: 0;
  border-collapse: separate;
  width: 94.5%;
  margin-right: auto;
  margin-left: auto;
}
nav td, nav th {
  padding: 0;
  height: 3em;
  width: 13.5%;
}
nav td span, nav th abbr, nav td span.active-link {
  display: inline-block;
  height: 3em;
  line-height: 3em;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
}
nav span.cell-with-event {
    font-weight: bold;
}
nav td span.active-link {
  background-color: #EFEFEF;
}
nav td span.out-of-month {
  color: #999;
}


/*******************************************************************************
************************** BODY CONTENT DISPLAY ZONE **************************/

main {
  width: 94.5%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}
main h1 {
  font-weight: bold;
  font-size: 1.2em;
}
dl.appointments dt {
  margin-top: 0.7em;
  margin-bottom: 0.45em;
  font-weight: bold;
}
dl.appointments dd {
  margin-bottom: 0.3em;
  margin-left: 0.3em;
  margin-left: 0.7em;
}
dl.appointments dd span.clickable_appointment {
  display: inline-block;
  padding: 0.2em;
  cursor: pointer;
}
span.cancel-button {
  cursor: pointer;
  margin-right: 1em;
}

button.quiet-button {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  cursor: pointer;
  background-color: white;
  border-width: 0px;
  text-decoration: underline;
}
