<!DOCTYPE HTML>

<html>
	<head>
		<base href="{{base_url}}/">
		<link href="assets/style.css" rel="stylesheet">

		<script src="assets/ArrayPolyfill.js"></script>
		<script src="assets/MyDate.js"></script>
		<script src="assets/NetworkMessage.js"></script>
		<script>
NetworkMessage.baseUrl =
	document.querySelector("base").getAttribute("href");
NetworkMessage.csrfToken = "{{ csrf_token }}";
		</script>
		<script src="assets/LocationChange.js"></script>
		<script src="assets/Event.js"></script>
	</head>
	<body>

		<section class="focus-on fetchEvents-result">
			<header>
				<nav>
					<form name="menuCtrl">
						<input type="range" name="rowCountSlider" value="4" min="1" max="9" step="1">
						<br>
						<input type="date" name="directDateInput">
					</form>
					<table class="focus-on fetchEvents-result">
						<colgroup>
							<col span="5">
							<col span="2">
						</colgroup>
						<thead>
							<tr>
								<th><abbr title="Lundi"    >Lun</abbr></th>
								<th><abbr title="Mardi"    >Mar</abbr></th>
								<th><abbr title="Mercredi" >Mer</abbr></th>
								<th><abbr title="Jeudi"    >Jeu</abbr></th>
								<th><abbr title="Vendredi" >Ven</abbr></th>
								<th><abbr title="Samedi"   >Sam</abbr></th>
								<th><abbr title="Dimanche" >Dim</abbr></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</nav>

				<h1></h1>
			</header>

			<div id="content">
				<div id="day-detail"></div>

				<hr>

				<form>
					<input type="time" name="time">
					<input type="text" name="shortTitle">
					<button>+</button>
				</form>
			</div>
		</section>

		<script>
var panelSection = (function() {
	var section          = document.querySelector("section"),
	    largeContentBox  = section.querySelector("div#content"),
	    contentContainer = section.querySelector("div#day-detail"),
	    header           = section.querySelector("header"),
	    h1               = header.querySelector("h1"),
	    form             = section.querySelector("form"),
	    panelDate        = undefined;

	h1.addEventListener("click", function() {
		const OPENED = "opened";
		if (header.classList.contains(OPENED)) {
			header.classList.remove(OPENED);
		} else {
			header.classList.add(OPENED);
		}
	});

	section.addEventListener("focus-on", function({ detail }) {
		var targetDate = detail;
		panelDate = targetDate;
		if (! panelDate) {
			h1.textContent = "Choisir une date...";
			largeContentBox.style.display = "none";
		} else {
			h1.textContent = targetDate.asFormattedString();
			contentContainer.textContent = "Chargement des données...";
			window.dispatchEvent(new CustomEvent("fetchEvents"));
			largeContentBox.style.display = "block";
		}
	});

	section.addEventListener("fetchEvents-result", function({ detail }) {
		var events = detail;
		contentContainer.innerHTML = "";

		events = (events[panelDate.asFormattedString()] || [])
					.map(event => event.perDayProjection());

		events = events.groupBy(({ time }) => time)
			.map(({ key, values }) => {
				for(var lastIndexOfCreate = values.length - 1; lastIndexOfCreate >= 0; lastIndexOfCreate--) {
					if (values[lastIndexOfCreate].kind == "create")
						break;
				}

				if (lastIndexOfCreate == -1) {
					console.log("Weird: events for timing", key, "never found a create state", values);
					return null;
				} else {
					var event = {... values[lastIndexOfCreate]};
					for (let i = lastIndexOfCreate; i < values.length; i++)
						if (values[i].kind == "cancel")
							event.isCancelled = true;
					return event;
				}
			}).filter(_ => !!_);
		;

		if (events.isEmpty()) {
			var p = document.createElement("p");
			p.textContent = "Il n'y a pas encore de rendez-vous à cette date.";
			contentContainer.appendChild(p);
		} else {
			var dl = document.createElement("dl");
			events
				.sortedBy(({ time }) => time)
				.forEach(({ time, description, isCancelled }) => {
					var dt = document.createElement("dt");
					if (isCancelled) {
						dt.classList.add("cancelled");
					} else {
						var cancelButton = document.createElement("button");
						cancelButton.setAttribute("title", "Annuler le rendez-vous");
						cancelButton.textContent = "\u2718";
						var eventData = {
							strDate: panelDate.asFormattedString(),
							strTime: time,
							kind: "cancel"
						};
						cancelButton.onclick = function() {
							var event = new Event (eventData);
							event.send().then(() => {
								window.dispatchEvent(new CustomEvent("fetchEvents"));
							});
						};
						dt.appendChild(cancelButton);
					}
					var timeText = document.createElement("span");
					timeText.textContent = time;
					dt.appendChild(timeText);
					var dd = document.createElement("dd");
					dd.textContent = description;
					dl.appendChild(dt);
					dl.appendChild(dd);
				});
			contentContainer.appendChild(dl);
		}
	});

	form.onsubmit = function(event) {
		event.preventDefault();
		var shortTitle = this.shortTitle.value || undefined,
		    time       = this.time.value || undefined;

		var eventData = {
			strDate: panelDate.asFormattedString(),
			strTime: time,
			strDescription: shortTitle,
			kind: "create"
		};
		var event = new Event(eventData);
		event.send().then(() => {
			window.dispatchEvent(new CustomEvent("fetchEvents"));
		})
		return false;
	}
})();


var menuTable = (function() {
	var table = document.querySelector("nav table"),
	    tbody = table.querySelector("tbody");

	var _ = {
		repaint: function() {
			if (! this.expectedRowCount || !this.referenceDate) return;

			var trs = tbody.getElementsByTagName("tr");
			while (trs.length > this.expectedRowCount) {
				tbody.removeChild (trs[this.expectedRowCount]);
			}
			while (trs.length < this.expectedRowCount) {
				var tr = document.createElement("tr");
				for (let i = 0; i < 7; i++)
					tr.appendChild(document.createElement("td"));
				tbody.appendChild(tr);
			}

			var dateCursor = this.referenceDate;
			for (let i = 0; i < trs.length; i++) {
				var tds = trs[i].getElementsByTagName("td");
				for (let j = 0; j < tds.length; j++) {
					tds[j].innerHTML = "";
					if (this.focusDate && this.focusDate.equals(dateCursor)) {
						var cellChild = document.createElement("span");
						cellChild.classList.add("active-link");
					} else {
						var cellChild = document.createElement("a");
						cellChild.setAttribute("href", `/?focus=${dateCursor.asFormattedString()}`);
						cellChild.onclick = function(event) {
							event.preventDefault();
							window.dispatchEvent(new CustomEvent("force-location-change", {
								detail: this.getAttribute("href")
							}));
							return false;
						}
					}
					cellChild.textContent = dateCursor.twoDigitsDay();
					tds[j].appendChild(cellChild);
					if (this.boldMarkerPredicate && this.boldMarkerPredicate(dateCursor)) {
						tds[j].style.fontWeight = "bold";
					}
					dateCursor = dateCursor .nextDate();
				}
			}
		},
		updateRows: function({ expectedRowCount, boldMarkerPredicate }) {
			var mustRepaint = false;
			if (expectedRowCount && this.expectedRowCount != expectedRowCount) {
				this.expectedRowCount = expectedRowCount;
				mustRepaint = true;
			}
			if (boldMarkerPredicate) {
				this.boldMarkerPredicate = boldMarkerPredicate;
				mustRepaint = true;
			}
			if (mustRepaint) {
				this.repaint();
			}
		},
		updateReference: function (referenceDate) {
			if (!this.referenceDate || ! referenceDate.equals(this.referenceDate)) {
				this.referenceDate = referenceDate;
				this.repaint();
			}
		},
		setFocus: function (focusDate) {
			if (!focusDate || !this.focusDate || ! focusDate.equals(this.focusDate)) {
				this.focusDate = focusDate;
				this.repaint();
			}
		}
	};

	table.addEventListener("focus-on", function({ detail }) {
		var focusDate = detail;
		_.setFocus(focusDate);
	});

	table.addEventListener("fetchEvents-result", function({ detail }) {
                var eventsStorage = detail,
		    boldPredicate = date => (eventsStorage[date.asFormattedString()] || []).isNotEmpty();
		_.updateRows({ boldMarkerPredicate: boldPredicate });
	});

	return _;
})();

var rowCountSliderController = ((ctrl) => {
	menuTable.updateRows ({ expectedRowCount: ctrl.value });
});


document.menuCtrl.rowCountSlider.addEventListener("change", function() { rowCountSliderController(this); });
rowCountSliderController(document.menuCtrl.rowCountSlider);

var directDateInputController = ((ctrl) => {
	var value = ctrl.value;
	if (! ctrl.value) {
		var date = MyDate.now();
	} else {
		var date = MyDate.fromFormattedString(ctrl.value);
	}
	while (! date.isMonday())
		date = date.previousDate();

	if (ctrl.value != date.asFormattedString())
		ctrl.value = date.asFormattedString();

	menuTable.updateReference(date);
});

document.menuCtrl.directDateInput.addEventListener("change", function() { directDateInputController(this); });
directDateInputController(document.menuCtrl.directDateInput);
		</script>

	</body>
</html>
