<!DOCTYPE HTML>

<html>
	<head>
		<base href="{{base_url}}/">
		<link href="assets/style.css" rel="stylesheet">

		<script src="assets/ArrayPolyfill.js"></script>
		<script src="assets/MyDate.js"></script>
		<script src="assets/NetworkMessage.js"></script>
		<script src="assets/LocationChange.js"></script>
		<script src="assets/Event.js"></script>
	</head>
	<body>

		<section class="focus-on fetchEvents-result">
			<header>
				<nav>
					<form name="menuCtrl">
						<input type="range" name="rowCountSlider" value="4" min="1" max="9" step="1">
						<br>
						<input type="date" name="directDateInput" class="focus-on">
					</form>
					<table class="focus-on fetchEvents-result">
						<colgroup>
							<col span="5">
							<col span="2">
						</colgroup>
						<thead>
							<tr>
								<th><abbr title="Lundi"    >Lun</abbr></th>
								<th><abbr title="Mardi"    >Mar</abbr></th>
								<th><abbr title="Mercredi" >Mer</abbr></th>
								<th><abbr title="Jeudi"    >Jeu</abbr></th>
								<th><abbr title="Vendredi" >Ven</abbr></th>
								<th><abbr title="Samedi"   >Sam</abbr></th>
								<th><abbr title="Dimanche" >Dim</abbr></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</nav>

				<h1></h1>
			</header>

			<div id="content">
				<div id="day-detail"></div>

				<hr>

				<form>
					<input type="time" name="time">
					<input type="text" name="shortTitle">
					<button>+</button>
				</form>
			</div>
		</section>


		<script src="assets/guiInitializer.js"></script>

	</body>
</html>
